gitignore
resources/_gen/assets/scss/scss/
static/images/exercice_smartboard.jpg
static/images/osteopathie_enfant.jpg
static/images/osteopathie_exercice1
static/images/osteopathie_groupe.jpg
static/images/osteopathie_sportive.jpg
static/images/smartboard_photo.jpg
static/images/smartboard_photo_nonrecadre.jpg

