{{ define "main" }}

{{ partial "page-title.html" . }}


<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-5">
        <div class="content">
          {{.Content}}
        </div>
      </div>
    </div>
  </div>
</section>

{{ if site.Data.contact.contact.enable }}
<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        {{ with site.Data.contact.contact.office }}
        <h3 class="mb-4">{{ .title | markdownify }}</h3>
        <p>{{ .content | markdownify }}</p>
        {{ end }}
        <ul class="list-unstyled">
          <li class="mb-3"><a class="text-color" href="tel:{{ site.Params.mobile }}"><i
                class="ti-mobile text-primary mr-2"></i>
             {{ site.Params.mobile }}</a></li>
          <li class="mb-3"><a class="text-color" href="mailto:{{ site.Params.email }}"><i
                class="ti-email text-primary mr-2"></i>{{ site.Params.email }}</a></li>
          <li class="mb-3"><i class="ti-location-pin text-primary mr-2"></i>{{ site.Params.location }}
          </li>
        </ul>
      </div>
      <div class="col-lg-3 offset-lg-1 col-sm-6">
        {{ with site.Data.contact.contact.opennigHour }}
        <h3 class="mb-4">{{ .title | markdownify }}</h3>
        <ul class="list-unstyled">
          {{ range .dayTimeList }}
          <li class="mb-3">{{ .dayTime | markdownify }}</li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}

<!-- {{ if site.Data.contact.map.enable }} -->
<section class="section pt-0">
  <div class="container">
    <div class="map-responsive">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5626.00085642197!2d5.7223805!3d45.1668412!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478af4b905f39023%3A0xbd1b0f754d2bb1f2!2sDutertre%20Aurelie!5e0!3m2!1sfr!2sfr!4v1611695348754!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <!-- <div id="map_canvas" data-latitude="{{ with site.Params.mapLatitude }} {{ . }} {{ end }}" -->
      <!-- data-longitude="{{ with site.Params.mapLongitude }} {{ . }} {{ end }}" -->
      <!-- data-marker="{{ with site.Params.mapMarker }} {{ . | absURL }} {{ end }}" data-marker-name="{{ site.Title }}"></div> -->
  </div>
</section>
<!-- {{ end }} -->

{{ partial "cta.html" . }}

{{ end }}