<!-- call to  action -->
{{ with site.Data.homepage.cta }}
<section class="py-4 bg-gradient position-relative">
  <img src="{{ .overlayImage | absURL }}" class="img-fluid overlay-image" alt="">
  <div class="container">
    <div class="row">
      <h2 class="text-white">{{ .title | markdownify }}</h2>
      <!-- <p class="text-white">{{ .content | markdownify }}</p> -->
      {{ with .button }}
      <a class="nav-link snipcart-summary" target="_blank" href="{{ .link | absURL }}"><span class="badge btn btn-light" style="color: #4aa50e;">{{ .label }}</span></a>
      {{ end }}
      <!-- <img class="cta-image" src="{{ .image | absURL }}" alt=""> -->
    </div>
  </div>
</section>
{{ end }}
<!-- /call to action -->